<!DOCTYPE html>
<html lang="en">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- CSS -->
        <link rel="stylesheet" href="css\index.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
                integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                crossorigin="anonymous"></script>
        
        <!-- font -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap" rel="stylesheet">

        <title> TripeR! | 여행지 공유 사이트 </title>
        

    </head>

    <body>
        <header>
            <div> <!-- 여기는 Triper 로고가 들어갈 곳(제작해야함!!) -->
                Triper 로고
            </div>

            <nav> <!-- nav bar -->
                <ul>
                    <li>로그인/로그아웃 기능</li>
                    <li>지역 선택 기능(현재는 서울만 가능)</li>
                </ul>
                

            </nav>
        </header>

        <section>
            <div> <!-- 카드 작성하는 곳 (평소에는 숨기지만, 버튼을 눌렀을 때 나타나고 사라진다.)-->
                카드 작성 안내, 카드 작성폼 Open&Close button
            </div>

            <div> <!-- 여기는 등록한 카드를 볼 수 있는 곳 -->
                <div>
                    최신순/추천순 카드 정렬 버튼, 검색 기능
                </div>
                <div>
                    등록된 카드는 작성자 이름/작성 날짜/관련 url/url의 orimg/추천 수/댓글/해시태그/글 삭제 버튼(작성자에게만)/글 숨기기 버튼(모든 사람에게만) 이 보이게 만들어진다.
                </div>
            </div>
        </section>

        <footer>
            made by Joy
        </footer>
    </body>

</html>